{% extends "web/header.html" %}

{% block content %}
<div class="media">
  <div class="media-left media-middle">
    <img src="/static/images/LinkedIn [in]/Screen/2-Color/In-2C-66px-TM.png" class="media-object" style="width:66px">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://www.linkedin.com/in/mariusz-matusiak-a72bb1110">LinkedIn profile</a></h4>
  </div>
</div>
<div class="media">
  <div class="media-left media-middle">
    <img src="/static/images/GitHub-Mark-64px.png" class="media-object" style="width:64px">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://github.com/mariuszmatusiak">Github profile</a></h4>
  </div>
</div>
<div class="media">
  <div class="media-left media-middle">
    <img src="/static/images/_f_logo_online/png/FB-f-Logo__blue_72.png" class="media-object" style="width:64px">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="https://www.facebook.com/mariusz.matusiak.37">Facebook profile</a></h4>
  </div>
</div>
{% endblock %}