<!DOCTYPE html>
<html lang="en">
<head>

{% load staticfiles %}
<link rel='stylesheet' href="{% static 'css/bootstrap.min.css'  %}" type='text/css'>
<!--<script src="{% static 'js/bootstrap.min.js' %}">-->
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/index"><span class="glyphicon glyphicon-home"/> Home</a></li>
      <li><a href="/blog"><span class="glyphicon glyphicon-book"/> Blog</a></li>
      <li><a href="/projects"><span class="glyphicon glyphicon-list-alt"/> Projects</a></li>
      <li><a href="/contact"><span class="glyphicon glyphicon-user"/> Contact</a></li>
    </ul>
  </div>
</nav>


{% block content %}
{% endblock %}
</body>
</html>